<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <customErrors mode="Off">
        
      </customErrors>
  </system.web>
 
</configuration>
<!--ProjectGuid: {3bf28e39-3b8b-4eb8-b0a4-ea9864aa9f4d}-->
